$color-primary: #455a64;
$color-accent: #ec407a;

$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;

$color-text: #222222;
$color-text-on-surface: #f3f3f3;
$color-text-on-surface-faded: #d8d8d8;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans",
	sans-serif;
$font-family-heading: $font-family-base;
